__pycache__/
**/__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
build/
dist/
.coverage
coverage.xml
htmlcov/
docs/

checkpoints/*
!checkpoints/.gitkeep
logs/*
!logs/.gitkeep
results/*
!results/.gitkeep
!results/eval/
!results/plots/
!results/train/
!results/trajectories/
results/eval/*
!results/eval/.gitkeep
results/plots/*
!results/plots/.gitkeep
results/train/*
!results/train/.gitkeep
results/trajectories/*
!results/trajectories/.gitkeep
